
<footer style="color:ActiveBorder; background-color:#1e1e1e; bottom:-40px;">
    <div class=" container">
        <div class="col-md-3">

        </div>
        <div class="col-md-3">
            @Html.ActionLink("Books", "Index", "Book")
            <br />
            @Html.ActionLink("Devices", "Index", "Technology")
            <br />
            @Html.ActionLink("FAQS", "FAQs", "Help")
        </div>
        <div class="col-md-3">

        </div>
    </div>
</footer>
