
@{
    
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="row" style="width:10px;"></div>
<div class="container">
    <div class="jumbotron"> <label class="lead"> welcome Sudo...</label><br />Here you have dominion over the employees... </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-3" style="text-align:center">
            <span class="glyphicon glyphicon-user img-circle" style="height:150px; width:150px; font-size:100px; color:white; background-color:#1e1e1e"></span>
            <h4 class="caption">Create An Employee</h4>
            <p>this is some test text</p>
            <button class="btn btn-default">Create Employee</button>
        </div>
        <div class="col-lg-3" style="text-align:center">
            <span class="glyphicon glyphicon-user img-circle" style="height:150px; width:150px; font-size:100px; color:white; background-color:#1e1e1e"></span>
            <h4 class="caption">View All Employees</h4>
            <p>List all employees currently employed by Urban books</p>
            <button class="btn btn-default">View Employees</button>
        </div>
        <div class="col-lg-3" style="text-align:center">
            <span class="glyphicon glyphicon-user img-circle" style="height:150px; width:150px; font-size:100px;color:white; background-color:#1e1e1e"></span>
            <h4 class="caption">Delete An Employee</h4>
            <p>Delete an active employee</p>
            <button class="btn btn-default">Delete Employee</button>
        </div>
        <div class="col-lg-3" style="text-align:center">
            <span class="glyphicon glyphicon-user img-circle" style="height:150px; width:150px; font-size:100px;color:white; background-color:#1e1e1e"></span>
            <h4 class="caption">Update An Employee</h4>
            <p>Update employee details </p>
            <button class="btn btn-default">Update Employee</button>
        </div>
    </div>
</div>

