
@{
    ViewBag.Title = "FAQs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>FAQs</h2>
<br />
<br />
<ol>
    <li><a href="#register">How to register as a new user</a></li>
    <li><a href="#login">How to login</a></li>
    <li><a href="#search">How to search for items</a></li>
    <li><a href="#addToCart">How to add items to cart</a></li>
    <li><a href="#removeFromCart">How to remove items in cart</a></li>
    <li><a href="#moveToWish">How to move items from cart to wishlist</a></li>
    <li><a href="#addToWish">How to add items to wishlist</a></li>
    <li><a href="#removeFromWish">How to remove items to wishlist</a></li>
    <li><a href="#moveToCart">How to move items from wishlist to cart</a></li>
    <li><a href="#checkout">How to checkout items in cart</a></li>
    <li><a href="#removeSpecific">How to check out specific items in cart</a></li>
    <li><a href="#advanced">How to use Advanced search to find specific items</a></li>
</ol>

