@{
    ViewBag.Title = "ConfirmAccount";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Thank you for confirming your account. Have fun browsing though our products, please @Html.ActionLink("click here to get started", "Index", "Home", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
<br /><br /><br />