@{
    ViewBag.Title = "Manage Technology";
    Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
}

<div class="row" style="width:10px;"></div>
<div class="container">
    <div class="jumbotron"> <label class="lead"> welcome <i class="glyphicon glyphicon-fire"></i>Sudo...</label><br />Here you have dominion over the Gadgets... </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4" style="text-align:center">
            <span class="icon-desktop  img-circle" style="height:150px; width:150px; font-size:100px; color:white; background-color:#1e1e1e"></span>
            <h4 class="caption">View Catalogue</h4>
            <p>View the Technology catalogue</p>
            <a href="~/Technology/AdminIndex" class="btn btn-default">View Tech</a>
        </div>
        <div class="col-lg-4" style="text-align:center">
            <span class="icon-desktop  img-circle" style="height:150px; width:150px; font-size:100px; color:white; background-color:#1e1e1e"></span>
            <h4 class="caption">Add a Gadget</h4>
            <p>this is some test text</p>
            <a href="~/Technology/Create" class="btn btn-default">Add Tech</a>
        </div>
        <div class="col-lg-4" style="text-align:center">
            <span class="icon-desktop img-circle" style="height:150px; width:150px; font-size:100px;color:white; background-color:#1e1e1e"></span>
            <h4 class="caption">Delete a Gadget</h4>
            <p>Delete a Gadget</p>
            <a href="~/Technology/Delete" class="btn btn-default">Delete Tech</a>
        </div>
        <div class="col-lg-4" style="text-align:center">
            <span class="icon-desktop img-circle" style="height:150px; width:150px; font-size:100px;color:white; background-color:#1e1e1e"></span>
            <h4 class="caption">Update a Gadget</h4>
            <p>Update Gadget details </p>
            <a href="~/Technology/Edit" class="btn btn-default">Update Tech</a>
        </div>
    </div>
</div>




