@using urbanbooks.Models
@model AdminIndexViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<script src="~/Scripts/jquery-2.1.1.js"></script>

<script type="text/javascript" src="https://www.google.com/jsapi"></script>

    <script type="text/javascript">
    google.load("visualization", "1", { packages: ["corechart"] });
    google.setOnLoadCallback(drawChart);
    function drawChart() {
        var dataSet = new Array();
        dataSet = ['Book Category', 'Total Sales'];
        var enumArray = [['Book Category', 'Total Sales']];
        @foreach (var item in Model.BookSales)
        {
            <text>
        
             enumArray.push(['@item.Category' , @item.TotalSales]);
            </text>
        }

        var data = google.visualization.arrayToDataTable(enumArray);

        var options = {
            title: 'Total Book Sales By Category',
            legend: { position: 'none' },
            'width': 600,
            'legend': 'left',
            pieHole: 0.3,
            'height': 600
        };

        var chart = new google.visualization.PieChart(document.getElementById('bookSales'));

        chart.draw(data, options);
    }
</script>

<script type="text/javascript">
    google.load("visualization", "1", { packages: ["corechart"] });
    google.setOnLoadCallback(drawChart);
    function drawChart() {

        var chartArray = [['Device Category', 'Total Sales']];
        @foreach (var item in Model.DeviceSales)
        {
            <text>
        
             chartArray.push(['@item.Category' , @item.TotalSales]);
            </text>
        }

        var data = google.visualization.arrayToDataTable(chartArray);

        var options = {
            title: 'Device Sales By Categories',
            legend: { position: 'none' },
            'width': 600,
            pieHole: 0.3,
            'height': 600,
            'legend': 'left'
        };

        var chart = new google.visualization.PieChart(document.getElementById('deviceSales'));

        chart.draw(data, options);
    }
</script>



<h2 style="text-align:center">Welcome</h2>
<div class="row">
    <br />
    <div class="col-md-6">
        <div class="thumbnail" style="text-align:center; align-content:center">
            <div id="bookSales"></div>            
        </div>
    </div>
    <div class="col-md-6">
        <div class="thumbnail" style="text-align:center">
            <div id="deviceSales"></div>
        </div>
    </div>
</div>

<br /><br />


