
.icon-firefox:before { content: '\e800'; } /* '' */
.icon-chrome:before { content: '\e801'; } /* '' */
.icon-twitter-squared:before { content: '\e802'; } /* '' */
.icon-html5:before { content: '\e803'; } /* '' */
.icon-pinterest-circled:before { content: '\e804'; } /* '' */
.icon-html5-1:before { content: '\e805'; } /* '' */
.icon-facebook-rect:before { content: '\e806'; } /* '' */
.icon-googleplus-rect:before { content: '\e807'; } /* '' */
.icon-visa:before { content: '\e808'; } /* '' */
.icon-mastercard:before { content: '\e809'; } /* '' */