@model IEnumerable<urbanbooks.Book>
@using urbanbooks.Models
@using urbanbooks.Helpers;

@{
    ViewBag.Title = "Books";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using urbanbooks.Helpers;
<br />
<div class="container">
    <div class="jumbotron">
    </div>
</div>

<br />


    @if (Model != null)
    {
        string returnUrl = HttpContext.Current.Request.RawUrl;
        foreach (var item in Model)
        {
            <div class="col-md-2">
                <div style="height:450px">
                    <div class="thumbnail" style="text-align:center">

                        <img class="img-thumbnail" src="~/Uploads/Books/@item.CoverImage" width="150" height="150" />
                        <h4 class="caption">@Html.DisplayFor(modelItem => item.BookTitle)</h4>
                        <label>ISBN :</label>&nbsp;@Html.DisplayFor(modelItem => item.ISBN)<br />
                        <label>Price :</label>&nbsp;@Html.DisplayFor(modelItem => item.SellingPrice)
                        <hr />
                        @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-heart-empty'></span>", "Add to Wishlist", "Add", "Wishlist", new { productId = item.ProductID, returnUrl }, htmlAttributes: new { @class = "btn" })
                        @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-eye-open'></span>", "View", "CustomerDetails", "Book", new { productId = item.ProductID }, htmlAttributes: new { @class = "btn" })
                        @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-shopping-cart'></span>", "Add to Cart", "AddToCart", "Cart", new { productId = item.ProductID, returnUrl }, htmlAttributes: new { @class = "btn" })
                    </div>
                </div>
            </div>
        }
    }

