@using urbanbooks.Models;
@{
    ViewBag.Title = "Advanced Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-6">
        @Html.Partial("Books")
    </div>
    <div class="col-lg-6">
        @Html.Partial("Devices")
    </div>
</div>